<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="GqFIsZKGuuwUkhwkhzn4IukPPOktvKHyCIQ7xKrteB4" />
    <meta name="naver-site-verification" content="60cf9a1c028fbe9654d19bd5247c3d86bec5e4ae" />
    <title>과학 질문 답변 챗봇</title>
</head>
<body>
    <h2>
        <a href = "https://acer2.snu.ac.kr/chat_service_3">중학교 과학 질문-답변 챗봇</a><br><br>
        <a href = "https://acer2.snu.ac.kr/chat_service_4">[범박고] 통합과학 질문-답변 챗봇</a><br><br>
        <a href = "https://acer2.snu.ac.kr/chat_service_5">[성남외고] 통합과학 질문-답변 챗봇</a><br><br>
        <a href = "https://acer2.snu.ac.kr/chat_service_6">[선유고] 통합과학 질문-답변 챗봇</a><br><br>
	<a href = "https://acer2.snu.ac.kr/chat_service_6">[경기모바일과학고] 통합과학 질문-답변 챗봇</a><br><br>
	<a href = "https://acer2.snu.ac.kr/chat_service_6">[인천영종고] 통합과학 질문-답변 챗봇</a><br><br>
    </h2>
    중학교 과학과 고등학교 통합과학 질문에 답해주는 챗봇입니다.<br>
    챗봇 사용 시 개인정보를 수집하지 않습니다. 마음껏 사용하세요.<br><br>
    서울대학교 물리교육과 음향물리교육연구실
</body>
</html>
